# Task 4.6 Combining & Exporting Data

## Contents
#### Import Libraries and Data
#### Combine Data
#### Export New Dataframe

## Import Libraries and Data

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [4]:
# Import data
path = r'C:\\Users\\sstorer\\OneDrive\\Instacart Basket Analysis'
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [10]:
# Check the shape
df_ords_prods_combined.shape

(32434489, 10)

In [12]:
# Import data
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = 0)

In [32]:
# Check the shape
df_prods.shape

(49672, 5)

In [16]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [20]:
df_ords_prods_combined.head()

,order_id,user_id,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

## Combine Data

In [34]:
# Merge the two dataframes
df_merged_all = df_ords_prods_combined.merge(df_prods, on='product_id', indicator='merge_indicator')

In [26]:
df_merged_all.head()

,order_id,user_id,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,merge_indicator
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23,19,4.4,both
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

In [30]:
df_merged_all['merge_indicator'].value_counts()

merge_indicator
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

## Export New Dataframe

In [39]:
# Export to pickle format
df_merged_all.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))